/* Add CSS Styling */

.blk {
    background-color: black;
    color: white;
}

.ylw {
    background-color: yellow;
}

.blk,
.ylw {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}